<div class="container">
    <div class="main">
        <h1 mat-dialog-title>Do you really want to delete this order?</h1>
    <div mat-dialog-content>
    <p><strong>ID:</strong> {{data.id}}</p>
    <p><strong>Customer ID:</strong> {{data.customerId}}</p>
    <p><strong>Description:</strong> {{data.description}}</p>
    <p><strong>Total price:</strong> {{data.totalPrice | customCurrency: '€'}}</p>
    <div><strong>Products:</strong>
        <ul><li *ngFor="let product of data.products">{{product.product.name}} - {{product.product.price | customCurrency: '€'}} x {{product.quantity}}</li></ul>
    </div>
    <p><strong>Created at:</strong> {{data.createdAt | date}}</p>
    </div>
    <div mat-dialog-actions style="float: right;">
        <button mat-raised-button [disabled]="loading" (click)="onClose()" >Cancel</button>
        <button *ngIf="!loading; else spinner" mat-raised-button color="warn" [disabled]="loading" (click)="confirmDelete(); loading = true">Delete</button>

        <ng-template #spinner>
            <mat-spinner diameter="20"></mat-spinner>
        </ng-template>
    </div>
    </div>
</div>