<button mat-raised-button color="primary" [routerLink]="['/orders']">Back to Orders</button>

<div class="container">
    <h1>Create new Order</h1>

    <mat-form-field appearance="fill">
        <mat-label>Customer</mat-label>
        <mat-select [(ngModel)]="selectedCustomer">
            <mat-option *ngFor="let customer of customers" [value]="customer">{{customer.firstName + ' ' + customer.lastName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="description">
    </mat-form-field>

    <button mat-raised-button color="primary">Create Order</button>
</div>