.container {
    padding: 0 20vw;
}

.mat-mdc-form-field {
    width: 100%;
}

.select-80-pc {
    width: 78%;
    margin-right: 1%;
}

.select-20-pc {
    width: 8%;
    margin-left: 2.5%;
}

.add-product {
    float: right;
    height: 3.5rem;
}