.mat-mdc-form-field {
    margin: 0 15px;
}

.title {
    display: flex;
    margin-bottom: 20px;
}

.title > h1 {
  margin: 0 15px;
  width: 80%;
}

.title > button {
  margin-left: auto;
  order: 2;
}

.mat-mdc-table {
  width: 100%;
}

.mat-mdc-cell {
  max-width: 15vw;
}

.button-column {
  display: table-column;
}

table {
  margin-top: 1vw;
}

button {
  margin: 0 5px;
}

a {
  cursor: pointer;
  color: #673ab7
}