<mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="searchText" (input)="applyFilter($event)">
</mat-form-field>

<mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startPicker" [formControl]="startDate">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
</mat-form-field>


<mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker" [formControl]="endDate">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>


  <button mat-raised-button (click)="applyDateFilter()">Apply Date Filter</button>
  <button mat-raised-button (click)="clearFilters()">Clear Filters</button>

<button mat-raised-button style="float: right">Create new Order</button>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>

    <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef> Customer ID </th>
        <td mat-cell *matCellDef="let order"> {{order.customerId}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let order"> {{order.description}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef> Total € </th>
        <td mat-cell *matCellDef="let order"> {{order.totalPrice | customCurrency: '€'}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Order Created at </th>
        <td mat-cell *matCellDef="let order"> {{order.createdAt | date}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Edit / Delete</th>
        <td mat-cell *matCellDef="let row">
        <app-cliccable-icon iconType="edit" [data]="row" [action]="editOrder"></app-cliccable-icon>
        <app-cliccable-icon iconType="delete"></app-cliccable-icon>
        </td>
    </ng-container>

    <!-- Header Row -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <!-- Data Rows -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
